/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Geeza Pro";
}

.animate {
  width: 120%;
  height: 100vh;
  background: #fff;
  position: absolute;
  z-index: 11;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  left: -10%;
}

.animate.active {
  width: 0;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.swap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 122px;
  padding: 25px 50px;
  font-size: 24px;
  font-weight: bold;
}

.swap .header a {
  text-decoration: none;
  color: #000;
}

.swap .header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 16px;
}

.swap .header .header-nav li {
  padding-bottom: 3px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: relative;
  margin-right: 50px;
}

.swap .header .header-nav li::before {
  content: "";
  width: 0;
  border-bottom: 2px solid #000;
  bottom: -3px;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  right: 0;
}

.swap .header .header-nav li:hover a {
  color: rgba(0, 0, 0, 0.884);
}

.swap .header .header-nav li:hover::before {
  width: 100%;
  left: 0;
}

.swap .header .header-nav :last-child {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.swap .header .header-nav :last-child::before {
  content: "";
  border-bottom: 2px solid #6a33f8;
}

.swap .header .header-nav :last-child:hover a {
  color: #6b33f8dc;
}

.swap .header .header-nav :last-child a {
  color: #6a33f8;
}

.swap main .banner {
  max-width: 100%;
  height: 666px;
  padding-left: 100px;
  position: relative;
}

.swap main .banner .page-change {
  width: 40%;
  height: 150px;
  background: #fff;
  position: absolute;
  bottom: -90px;
  left: -50px;
  z-index: 2;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
  opacity: 0.9;
}

.swap main .banner .swiper-container {
  height: 100%;
}

.swap main .banner .swiper-container .banner-filter {
  -webkit-backdrop-filter: grayscale(30%) invert(23%) brightness(1.4);
          backdrop-filter: grayscale(30%) invert(23%) brightness(1.4);
  position: absolute;
  right: 0;
  height: 100%;
  width: 69%;
  z-index: 3;
}

.swap main .banner .swiper-container .banner-filter .banner-title {
  position: absolute;
  top: 38%;
  left: 8%;
  font-weight: bold;
}

.swap main .banner .swiper-container .banner-filter .banner-title::before {
  content: "";
  width: 0%;
  height: 120px;
  background: #fff;
  position: absolute;
  z-index: -1;
  left: -50px;
  bottom: -50px;
}

.swap main .banner .swiper-container .banner-filter .banner-title.active::before {
  width: 100%;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.swap main .banner .swiper-container .banner-filter .banner-title h2 {
  font-size: 70px;
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  padding-left: 0;
}

.swap main .banner .swiper-container .banner-filter .banner-title h2.active {
  padding-left: 30px;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.swap main .banner .swiper-container .banner-filter .banner-title span {
  margin-right: 20px;
}

.swap main .banner .swiper-container .banner-filter .banner-title .more-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 100px;
  text-decoration: none;
  color: #fff;
  background: #000;
  position: absolute;
  bottom: -120px;
  left: -150px;
  padding: 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 20px;
}

.swap main .banner .swiper-container .banner-filter .banner-title .more-product span {
  margin-right: 30%;
}

.swap main .banner .swiper-container .banner-filter .banner-title .more-product span,
.swap main .banner .swiper-container .banner-filter .banner-title .more-product i {
  position: absolute;
}

.swap main .banner .swiper-container .banner-filter .banner-title .more-product::before {
  content: "";
  width: 0;
  height: 95%;
  position: absolute;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #fff;
  top: 0;
  left: 0;
}

.swap main .banner .swiper-container .banner-filter .banner-title .more-product:hover {
  color: #000;
}

.swap main .banner .swiper-container .banner-filter .banner-title .more-product:hover::before {
  width: 100%;
}

.swap main .banner .img-1 {
  background: url("../img/photo-1547104443-442a7698bac4-2@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-2 {
  background: url("../img/photo-1549388604-817d15aa0110-3@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-3 {
  background: url("../img/photo-1552558636-f6a8f071c2b3-2@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-4 {
  background: url("../img/photo-1565620731358-e8c038abc8d1-2@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-5 {
  background: url("../img/photo-1576354302919-96748cb8299e-1@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-6 {
  background: url("../img/photo-1583250543752-11da1d6ebbe0@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-7 {
  background: url("../img/photo-1599243075095-7199cae2c164-2@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .img-8 {
  background: url("../img/photo-1600607687126-8a3414349a51-1@2x.png") no-repeat center center;
  background-size: cover;
}

.swap main .banner .swiper-button-prev,
.swap main .banner .swiper-button-next {
  position: absolute;
  top: 95%;
}

.swap main .banner .swiper-button-prev {
  left: 140px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swap main .banner .swiper-button-prev:hover {
  -webkit-transform: rotate(90deg) scale(1.1);
          transform: rotate(90deg) scale(1.1);
}

.swap main .banner .swiper-button-prev:active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swap main .banner .swiper-button-prev::after {
  display: none;
}

.swap main .banner .swiper-button-next {
  left: 180px;
  -webkit-transform: rotate(-90deg) translateX(-4px);
          transform: rotate(-90deg) translateX(-4px);
}

.swap main .banner .swiper-button-next:hover {
  -webkit-transform: rotate(-90deg) translateX(-4px) scale(1.1);
          transform: rotate(-90deg) translateX(-4px) scale(1.1);
}

.swap main .banner .swiper-button-next:active {
  -webkit-transform: rotate(-90deg) translateX(-4px);
          transform: rotate(-90deg) translateX(-4px);
}

.swap main .banner .swiper-button-next::after {
  display: none;
}

.swap main .banner .swiper-pagination {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swap main .banner .swiper-pagination-bullet {
  margin-right: 15px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.swap main .banner .swiper-pagination-bullet:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.swap main .banner > i {
  color: #000;
  font-size: 50px;
}

.swap main .banner > i:hover {
  color: rgba(0, 0, 0, 0.795);
}
