body {
  font-family: "Geeza Pro";
}
.enter-animate {
  width: 120%;
  height: 100vh;
  background: rgb(245, 245, 245);
  position: fixed;
  z-index: 11;
  transform: skewX(18deg);
  transition: 0.5s ease-in;
  left: -10%;
  &.active {
    width: 0;
    transform: skewX(-18deg);
  }
}
.index-swap {
  .header {
    @include flex(space-between, center);
    height: 122px;
    padding: 25px 50px;
    font-size: $font-m;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $mainColor;
    }
    .header-nav {
      @include flex(space-between, center);
      height: 100%;
      font-size: $font-xs;
      li {
        padding-bottom: 3px;
        transition: 1s ease;
        position: relative;
        margin-right: 50px;
        &::before {
          content: "";
          @include absolute(null, null, -3px, 0);
          width: 0;
          border-bottom: 2px solid $mainColor;
          transition: 0.3s ease;
        }
        &:hover {
          a {
            color: rgba(0, 0, 0, 0.884);
          }
          &::before {
            width: 100%;
            left: 0;
          }
        }
      }
      :last-child {
        transition: 0.2s ease;
        &::before {
          content: "";
          border-bottom: 2px solid #6a33f8;
        }
        &:hover {
          a {
            color: #6b33f8dc;
          }
        }
        a {
          color: #6a33f8;
        }
      }
    }
  }

  .main {
    .banner-panel {
      max-width: 100%;
      height: 666px;
      padding-left: 100px;
      position: relative;
      margin-bottom: 200px;
      .page-change {
        @include absolute(null, -50px, -90px);
        width: 40%;
        height: 150px;
        background: #fff;
        z-index: 2;
        transform: rotate(13deg);
        opacity: 0.9;
      }
      .swiper-container {
        height: 100%;
        .banner-filter {
          @include absolute(null, null, null, 0);
          backdrop-filter: grayscale(30%) invert(23%) brightness(1.4);
          height: 100%;
          width: 69%;
          z-index: 3;
          .banner-title {
            @include absolute(38%, 8%);
            font-weight: bold;
            &::before {
              content: "";
              @include absolute(null, -50px, -50px);
              width: 0%;
              height: 120px;
              background: #fff;
              z-index: -1;
            }
            &::after {
              content: "";
              @include absolute(null, null, 25px);
              width: 0%;
              border-bottom: 2px solid #000;
            }
            &.active {
              &::before {
                width: 100%;
                transition: 1s ease-out;
              }
              &::after {
                width: 100%;
                transition: 1s ease-out;
              }
            }

            h2 {
              font-size: $font-xxl;
              margin-bottom: 10px;
              padding-left: -30px;
              &.active {
                padding-left: 30px;
                transition: ease-in 1s;
              }
            }
            span {
              margin-right: 10px;
            }
            .more-product {
              @include flex(flex-end, center);
              @include absolute(null, -150px, -120px);
              width: 500px;
              height: 100px;
              text-decoration: none;
              color: #fff;
              background: #000;
              padding: 30px;
              transition: 0.3s ease;
              font-size: $font-s;
              span {
                margin-right: 30%;
              }
              span,
              i {
                position: absolute;
              }
              &::before {
                content: "";
                @include absolute;
                width: 0;
                height: 95%;
                transition: 0.3s ease;
                background: #fff;
              }
              &:hover {
                color: #000;
                &::before {
                  // content: "";
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .img-1 {
        background: url("../img/photo-1547104443-442a7698bac4-2@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-2 {
        background: url("../img/photo-1549388604-817d15aa0110-3@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-3 {
        background: url("../img/photo-1552558636-f6a8f071c2b3-2@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-4 {
        background: url("../img/photo-1565620731358-e8c038abc8d1-2@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-5 {
        background: url("../img/photo-1576354302919-96748cb8299e-1@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-6 {
        background: url("../img/photo-1583250543752-11da1d6ebbe0@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-7 {
        background: url("../img/photo-1599243075095-7199cae2c164-2@2x.png") no-repeat center center;
        background-size: cover;
      }
      .img-8 {
        background: url("../img/photo-1600607687126-8a3414349a51-1@2x.png") no-repeat center center;
        background-size: cover;
      }
      .swiper-button-prev,
      .swiper-button-next {
        @include absolute(95%);
      }
      .swiper-button-prev {
        left: 140px;
        transform: rotate(90deg);
        &:hover {
          transform: rotate(90deg) scale(1.03);
        }
        &:active {
          transform: rotate(90deg);
        }
        &::after {
          display: none;
        }
      }
      .swiper-button-next {
        left: 180px;
        transform: rotate(-90deg) translateX(-4px);
        &:hover {
          transform: rotate(-90deg) translateX(-4px) scale(1.03);
        }
        &:active {
          transform: rotate(-90deg) translateX(-4px);
        }
        &::after {
          display: none;
        }
      }
      .swiper-pagination {
        @include absolute(50%, -20px);
        transform: rotate(90deg);
      }
      .swiper-pagination-bullet {
        margin-right: 15px;
        transition: 0.2s ease;
        &:hover {
          transform: scale(1.3);
        }
      }
      > i {
        color: #000;
        font-size: 50px;
        &:hover {
          color: rgba(0, 0, 0, 0.795);
        }
      }
    }

    .advantage-panel {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 20px;
      .environmental {
        @include flex(space-between);
        margin-bottom: 200px;
        position: relative;
        .environmental-text {
          @include absolute(null, 60px);
          h2 {
            font-size: $font-xxl;
            margin-bottom: 50px;
            line-height: 1.3;
          }
          P {
            max-width: 600px;
            font-size: $font-m;
            margin-right: 700px;
            line-height: 1.5;
          }
        }
        .environmental-wood-img {
          margin-top: 35px;
          height: 600px;
          object-fit: cover;
        }
        .side-img {
          height: 400px;
        }
        .more-information {
          @include flex(flex-end, center);
          @include absolute(null, 50%, 13%);
          width: 500px;
          height: 100px;
          text-decoration: none;
          color: #fff;
          background: #000;
          transform: translateX(-50%);
          padding: 30px;
          transition: 0.3s ease;
          font-size: $font-s;
          span {
            margin-right: 35%;
          }
          span,
          i {
            position: absolute;
          }
          &::before {
            content: "";
            @include absolute;
            width: 0;
            height: 95%;
            transition: 0.3s ease;
            background: #fff;
          }
          &:hover {
            color: #000;
            &::before {
              // content: "";
              width: 100%;
            }
          }
        }
      }
    }

    .product-introduce-panel {
      @include flex(space-around);
      max-width: 800px;
      max-height: 450px;
      margin: 0 auto;
      object-fit: cover;
      padding: 0 20;
      margin-bottom: 200px;
      position: relative;
      .product-img {
        margin-right: 30px;
      }
      .left-side-img {
        align-self: center;
        height: 300px;
        margin-right: 50px;
      }
      .right-side-img {
        height: 400px;
        margin-left: 20px;
      }
      .product-page {
        @include flex(flex-end, center);
        @include absolute(50%, 50%);
        transform: translateX(-50%) translateY(-50%);
        width: 500px;
        height: 100px;
        padding: 30px;
        text-decoration: none;
        transition: 0.3s ease;
        font-size: $font-s;
        color: #fff;
        background: #bd9ba2;
        span {
          margin-right: 35%;
        }
        span,
        i {
          position: absolute;
        }
        &::before {
          content: "";
          @include absolute;
          width: 0;
          height: 95%;
          transition: 0.3s ease;
          background: #fff;
        }
        &:hover {
          color: #bd9ba2;
          &::before {
            width: 100%;
          }
        }
      }
    }

    .compared-panel {
      @include flex(center);
      background: #f8f8f8;
      padding: 100px 20px;
      text-align: center;
      margin-bottom: 100px;
      h2 {
        font-size: $font-m;
        margin-bottom: 30px;
      }
      table {
        // border-collapse: collapse;
        th {
          padding: 20px 40px;
          border-bottom: solid 1px #000;
        }
        td {
          padding: 20px 40px;
          border-bottom: solid 1px #000;
        }
      }
      .secondary {
        color: $secondary;
      }
      .fas {
        color: #9c77ff;
        font-size: $font-l;
      }
    }

    .comment-panel {
      @include flex(center, center);
      height: 424px;
      background: #ffffff;
      line-height: 1.3;
      padding: 0 20px;
      margin-bottom: 100px;
      h3 {
        font-size: $font-m;
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        text-align: center;
      }
      .card-group {
        @include flex(flex-end);
        flex-wrap: wrap;
        max-width: 1120px;
        .card {
          @include flex;
          height: 96px;
          background: #ffffff;
          border: 1px solid #707070;
          margin: 0 20px 20px 0;
          box-shadow: 3px 3px 5px gray;
          border-radius: 5px;
          .card-content {
            padding: 10px;
          }
        }
        .card-head {
          margin-bottom: 10px;
          @include flex;
          img {
            margin-right: 10px;
          }
        }
        .purple-color {
          color: #9c77ff;
        }
      }
    }

    .product-panel {
      width: 1120px;
      background: #f8f8f5;
      margin: 0 auto;
      padding: 60px 30px;
      h2 {
        font-size: $font-l;
        text-align: center;
        margin-bottom: 30px;
      }
      .search-group {
        position: relative;
        @include flex(space-between, center);
        margin-bottom: 50px;
        select,
        input {
          width: 230px;
          height: 36px;
          border: 1px solid #000;
          font-size: $font-xs;
          font-weight: bold;
          padding: 0 10px;
        }
        .product-search-btn {
          @include absolute(3px, null, null, 3px);
          width: 70px;
          height: 30px;
          border-radius: 15px;
          background: #000;
          color: $secondary;
          border: 0;
          &:hover {
            color: #fff;
          }
          &:active {
            background: rgb(46, 46, 46);
          }
        }
      }
      .card-group {
        @include flex;
        flex-wrap: wrap;
        .card {
          margin: 0 3% 20% 0;
          @include cardWidth(3%, 4);
          .card-header {
            position: relative;
            display: block;
            transition: 0.2s ease;
            border: 0px #000 solid;
            &:hover {
              border: 5px #000 solid;
              border-bottom: 3px #e9afba solid;
              .card-content {
                width: 120%;
                top: 103%;
              }
            }
            .card-content {
              line-height: 1.5;
              width: 90%;
              height: 70%;
              @include absolute(90%, 50%);
              @include flex(space-between, center, column);
              transform: translateX(-50%);
              padding: 20px;
              background: #fff;
              color: #000;
              transition: 0.2s ease;
              h3 {
                font-size: $font-xs;
              }
              > p {
                font-size: $font-m;
              }
              .addCart-btn {
                font-size: $font-xs;
                background: #000;
                color: #fff;
                border: 0;
                padding: 5px 15px;
                border-radius: 20px;
                transition: 0.2s ease;
                margin-right: 5px;
                &:hover {
                  color: #000;
                  background: #fff;
                  border: 1px solid #000;
                }
                &:active {
                  background: rgb(236, 236, 236);
                }
              }
              .cart-num-select {
                width: 35px;
                height: 30px;
              }
            }
            .new-item {
              @include absolute(10px, null, null, -10px);
              @include flex(center, center);
              width: 50px;
              height: 30px;
              color: #fff;
              background: #e9afba;
              padding: 5px;
              border-radius: 0 5px 5px 0;
            }
          }
        }
      }
    }

    .cart-panel {
      width: 500px;
      margin: 100px auto;
      .removeAll-btn {
        width: 100px;
        height: 50px;
        background: coral;
      }
    }

    .transport-panel {
      position: fixed;
      top: 10%;
      left: 50%;
      z-index: 5;
      transform: translateX(-50%);
      padding: 2px 2px 30px;
      background: #000;
      border-radius: 0 0 10px 10px;
      box-shadow: 3px 6px 10px gray;
      display: none;
      &.active {
        display: flex;
      }
      button {
        @include absolute(null, 50%, 0);
        width: 100%;
        font-size: $font-s;
        transform: translateX(-50%);
        border: 0;
        padding: 2px;
        border-radius: 0 0 10px 10px;
        background: #000;
        transition: 0.2s all;
        color: #fff;
        &:hover {
          background: #ffffff;
          color: #000;
          font-size: 21px;
        }
      }
    }
  }

  .footer {
    @include flex(space-around, center);
    height: 76px;
    background: #000;
    padding: 0 25px;
    color: $secondary;
    a {
      color: $secondary;
      text-decoration: none;
      font-size: $font-m;
      font-weight: bold;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
